<%= form_tag sessions_url do %>

  <div class="field">
    <%= label_tag :password %><br>
    <%= text_field_tag :password %>
  </div>
  <div class="login">
    <%= submit_tag 'Login', { class: "btn btn-primary" } %>
  </div>
<% end %>
