
<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-pills">
			<li role="presentation">
				<%=link_to "All", "/", remote: true, 'data-toggle' => :tab %>
			</li>
			<% Category.all.each do |category| %>
			<li role="presentation">
				<%= link_to category.name, category_jobs_path(category),
				class: "category", remote: true,
				'data-toggle' => :tab %>
			</li>
			<% end %>
			<% if admin? %>
			<li role="presentation">
				<%= link_to new_category_path,
				'data-toggle' => :tab do %>
					<span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="New Category"></span> 
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>

	<div id="jobs" class="row">
		<%= render "jobs" %>
  	</div>


