<h1>Listing jobs</h1>

<div>
	<ul>
		<% Category.all.each do |category| %>
		<li><%= link_to category.name, { :controller => "jobs", :category_id => "#{category.id}" }, :class => "category_link", remote: true %></li>
		<% end %>
	</ul>
</div>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Location</th>
      <th>Details</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <%= render :partial => @jobs %>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
